<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.primary.dao.CourseTeacherDetailMapper" >
  <resultMap id="BaseResultMap" type="com.primary.bean.CourseTeacherDetail" >
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="stuffId" property="stuffid" jdbcType="INTEGER" />
    <result column="g_c_id" property="gCId" jdbcType="INTEGER" />
    <result column="classId" property="classid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    name, stuffId, g_c_id, classId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.primary.bean.CourseTeacherDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from course_teacher_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.primary.bean.CourseTeacherDetailExample" >
    delete from course_teacher_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.primary.bean.CourseTeacherDetail" >
    insert into course_teacher_detail (name, stuffId, g_c_id, 
      classId)
    values (#{name,jdbcType=VARCHAR}, #{stuffid,jdbcType=INTEGER}, #{gCId,jdbcType=INTEGER}, 
      #{classid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.primary.bean.CourseTeacherDetail" >
    insert into course_teacher_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="stuffid != null" >
        stuffId,
      </if>
      <if test="gCId != null" >
        g_c_id,
      </if>
      <if test="classid != null" >
        classId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="stuffid != null" >
        #{stuffid,jdbcType=INTEGER},
      </if>
      <if test="gCId != null" >
        #{gCId,jdbcType=INTEGER},
      </if>
      <if test="classid != null" >
        #{classid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.primary.bean.CourseTeacherDetailExample" resultType="java.lang.Integer" >
    select count(*) from course_teacher_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update course_teacher_detail
    <set >
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.stuffid != null" >
        stuffId = #{record.stuffid,jdbcType=INTEGER},
      </if>
      <if test="record.gCId != null" >
        g_c_id = #{record.gCId,jdbcType=INTEGER},
      </if>
      <if test="record.classid != null" >
        classId = #{record.classid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update course_teacher_detail
    set name = #{record.name,jdbcType=VARCHAR},
      stuffId = #{record.stuffid,jdbcType=INTEGER},
      g_c_id = #{record.gCId,jdbcType=INTEGER},
      classId = #{record.classid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>